html {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
   font-weight: 300!important;
}

.navbar.navbar-inverse {
	background-color: #34495E!important;
	height: 100px;
}

a {
	text-decoration: none;
	color: white;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #dfdfdf;
	text-decoration: none;
}

.navbar-brand {
	color: white!important;
	font-weight: bold;
	font-size: 72px;
	line-height: 100px;
	vertical-align: middle;
	padding-top: 0;
}

.navbar-right {
	font-size: 40px;
	line-height: 100px;
	vertical-align: middle;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #1A85BA;
}

.btn-primary {
	background-color: #1A85BA!important;
}

.gauge {
	background-color: #34495E;
	border-radius: 10px;
	height: 300px;
	margin-bottom: 20px;
	padding: 50px 60px;
}

.gauge.add h1 {
	font-size: 164px;
	margin: 0;
	font-weight: bold;
	text-align: center;
	color: white;
}

.gauge .img {
	width: 140px;
	height: 200px;
	display: inline-block;
	/*height: 200px;*/
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	/*width: 140px;*/
	background-position: top left;
	-webkit-mask-size: 140px 200px;
}
.gauge.milk .img {
	background-image: url(../img/milk.png);
	-webkit-mask-image: url(../img/milk_mask.png);
}
.gauge.egg .img {
	background-image: url(../img/egg.png);
	-webkit-mask-image: url(../img/egg_mask.png);
}
.gauge .img .fill {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
}

.gauge .num-display {
	border-radius: 10px;
	width: 160px;
	color: white;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	right: 75px;
	top: 73px;
	text-align: center;
	float: right;
	height: 154px;
}
.gauge .num-display h1 {
	font-size: 72px;
	margin: 0;
}
.gauge .num-display h2 {
	font-size: 32px;
	margin: 0;
	font-weight: 200;
}

.gauge.milk .num-display {	
	background-color: rgba(221, 62, 118, 0.9);
}

.gauge.egg .num-display {
	background-color: rgba(39, 197, 0, 0.7);
}

.modal-header {
	background-color: #34495E;
	color: white;
	border: none;
}

.close {
	color: white;
	text-shadow: none;
	opacity: 1;
}
.close:hover {
	color: #dfdfdf;
}