@media screen and (max-device-width: 480px){
    /*--- iPhone only CSS here ---*/
    .navbar.navbar-inverse {
    	height: 50px;
    }

    .navbar-brand {
		font-size: 32px;
		line-height: 50px;
    }

	.navbar-right {
		font-size: 20px;
		line-height: 50px;
	}

	.gauge {
		height: 150px;
		margin-bottom: 10px;
		padding: 25px 30px;
		border-radius: 5px;
	}

	.gauge .img {
		height: 100px;
		width: 70px;
		-webkit-mask-size: 70px 100px;
	}

	.gauge .num-display {
		width: 80px;
		padding-top: 10px;
		padding-bottom: 10px;
		right: 40px;
		top: 36px;
		height: 77px;
		border-radius: 5px;
	}
	.gauge .num-display h1 {
		font-size: 36px;
	}
	.gauge .num-display h2 {
		font-size: 16px;
		font-weight: 200;
	}

	.gauge.add h1 {
		font-size: 82px;
	}

}