<html>
	<head>
		<title>Welcome</title>
		<link rel="stylesheet" href="styles.css">
		<script type="text/javascript" src="jquery-2.0.3.min.js"></script>
	</head>
	<body ng-app="app">
		<div class="container">
			<div class="half-screen hacker-news" ng-controller="HNCtrl">
				<div class="header">
					<img src="hn.png" />
					<h3><a href="http://news.ycombinator.com">Hacker News</a></h3>
				</div>
				<div class="item" ng-repeat="item in items">
					<a class="link" href="{{ item.url }}">{{ item.title }}</a>
					<div class="details">
						<span>{{ item.points }} points &#8226;
							<a href="https://news.ycombinator.com/item?id={{item.id}}">{{ item.commentCount }} comments</a>
							 &#8226; posted {{ item.postedAgo }} by 
							<a href="https://news.ycombinator.com/user?id={{item.postedBy}}">{{ item.postedBy }}</a>
						</span>
					</div>
				</div>
			</div>
			<div class="half-screen designer-news" ng-controller="DNCtrl">
				<div class="header">
					<img src="dn.png" />
					<h3><a href="http://news.layervault.com">Designer News</a></h3>
				</div>
				<div class="item" ng-repeat="item in items">
					<a class="link" href="{{ item.url }}">{{ item.title }}</a>
					<div class="details">
						<span>{{ item.vote_count }} votes &#8226;
							<a href="#">{{ item.num_comments }} comments</a>
							 &#8226; posted {{ item.created_at | date:'short' }} by 
							<a href="#">{{ item.submitter_display_name }}</a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="angular-resource.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="HNCtrl.js"></script>
		<script type="text/javascript" src="DNCtrl.js"></script>
	</body>
</html>